* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.signin-container-first {
  display: flex;

  /* background-color: lightgreen; */
}

.signin-left-image-container {
  background-image: url(../assets/signup-page-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20%;
  height: 100vh;
  /* background-color: lightskyblue; */
}

/* Right content container */

.signin-right-content-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

/* logo css styling */

.logo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  background-color: #111111;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 50px;
    min-width:50px; */
  /* margin-top: 4rem;
    margin-bottom: 10px; */
}

.logo img {
  width: 70%;
  height: 52%;
  object-fit: contain;
}

/* greet-message container */

.greet-message {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* sub-title */

.sub-title {
  font-size: 13px;
  color: #2b2b2b;
}

/* email input box */

.input-box-email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  /* margin-top: 45px; */
}

#email {
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  outline: none;
  transition: 0.3s;
}

/* Placeholder styling */
#email::placeholder {
  color: #999;
}

/* password input box */
.input-box-password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  /* margin-top: 15px; */
}

#pass {
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  outline: none;
  transition: 0.3s;
}

/* Placeholder styling */
#pass::placeholder {
  color: #999;
}

/* remeberme and forget container */
.remember-forget-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin: 10px 0;
  font-size: 14px;
}

#remember-me {
  margin: 5px;
  transform: scale(1.1);
}

.remember-forget-container label {
  color: #474747;
}

.forgot-password {
  color: #474747;
  text-decoration: none;
  transition: 0.3s ease;
}

.forgot-password:hover {
  color: rgb(78, 26, 199);
}

.signin-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.signin-button button {
  width: 400px;
  padding: 14px;
  max-width: 400px;
  background-color: rgb(242, 159, 4);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.signin-button button:hover {
  background: rgb(207, 135, 1);
}

.havean-account {
  margin-top: 20px;
}

.havean-account p {
  font-size: 16px;
  font-weight: 600;
}

.havean-account a {
  color: rgb(242, 159, 4);
  cursor: pointer;
  text-decoration: none;
}

.havean-account span:hover {
  color: rgba(196, 129, 4, 0.939);
  cursor: pointer;
}

hr {
  width: 90%;
  margin-top: 35px;
}

/* footer */

.privacy-policy-agreement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.links-privacy-policy a {
  padding: 0px 20px;
  text-decoration: underline;
  color: #444141;
  font-size: 16px;
  font-weight: 500;
}

.links-privacy-policy a:hover {
  transition: all 0.3s ease;
  color: #1d1d1d;
}

.links-privacy-policy {
  margin: 25px;
}

.privacy-policy-agreement p {
  font-size: 14px;
  color: #444141;
  font-weight: 400;
  margin: 25px;
}

/* left arrow button */

.left-arrow-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 20px;
}

.left-arrow-button button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c3c2c2;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.left-arrow-button button i {
  font-size: 1.2em;
}

.left-arrow-button button:hover {
  background-color: darkgrey;
}

@media (max-width: 614px) {
  .signin-container-first {
    flex-direction: column;
  }
  .signin-left-image-container{
    width: 100%;
  }
  .signin-right-content-container {
    width: 100%;
  }

  .links-privacy-policy a {
    padding: 0px 10px;
    flex-wrap: wrap;
  }

  .privacy-policy-agreement {
    gap: 0;
  }
}

@media (max-width: 430px) {
  .privacy-policy-agreement {
    flex-direction: column;
  }

  #email {
    max-width: 300px;
  }

  #pass {
    max-width: 300px;
  }

  .remember-forget-container {
    flex-direction: column;
    margin: 5px;
  }

  .signin-button button {
    max-width: 300px;
  }
  .footer .link a {
   
    padding-right:22px;
  }
}
hr{
    margin-top: 189px;
}
.footer {
  height: 10vh;
  width: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

.footer .link {
  width: auto;
  height: auto;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}
.footer p {
  width: 100%;
  font-size: 11px;
  /* margin: 20px 0; */
}
.footer .link a {
  text-decoration: none;
  color: #7a7a7a;
  padding-right:45px;
  justify-content: end;
}
