
*{
    box-sizing: border-box;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}


/* main container */
footer{
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    bottom: 0;
    position:static;
    scroll-behavior: smooth;
    background: #1c1c1c;
}

/* content container for all links about contact and brand logo name and desc */
.footer-content-container{
    /* border: 2px solid white; */
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px;
    color: #979797f0;
}


/* brand logo name container */
.left-footer-container{
    /* border: 2px solid white; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 25%;
    margin: 10px;
    
}

/* logo name container css */
.logo-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0;
    padding-left: 35px;
    width: 100%;
}

.logo-name img{

    width: 70px;
    height: 50px;
    /* border-radius: 50%; */
}

.logo-name p{
    font-family: 'Monsterrat','Poppins',Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
    font-weight: 500;
}


/* description contaienr */
.salonx-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 35px;
}

.salonx-desc p{
    font-size: 13px;
}


.right-footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}


/* styling link about contact */

.links, .about, .contact{
    flex: -1;
    width: 70%;
    min-width: 150px;
    margin: 50px 20px;
}

.links h4, .about h4, .contact h4{
    font-family: 'Monsterrat','Poppins',Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #ffb700f9;
}

.links p, .about p, .contact p{
    
    font-family: 'Poppins' ,Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:300 ;
    width: 173px;
    padding: 3px 0;
    transition: all 0.3s ease;
}

.links p:hover,.about p:hover{

    cursor: pointer;
    color: #b3b3b3;
    text-decoration: underline;  
    text-decoration-thickness: 2px; 
    text-underline-offset: 4px;
}



hr{
    width: 90%;
    margin: auto;
    border: none;
    background: #5d5d5df2;
    height: 1px;
    
}



.copyright-container{

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.copyright-container p{
    font-weight: 300;
    padding: 20px;
    font-size: 15px;
    color: #979797f0 ;
}


/* media query */
@media (max-width: 900px){

    footer{
        height: 348px;
    }

    .left-footer-container{
        width: 200px;
        margin: 5px 4px;
    }

    .logo-name img{
        width: 45px;
        height: 35px;
    }

    .logo-name p{
        font-size: 20px;
    }

    .links h4, .about h4, .contact h4{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 12px;
    }

    .links p, .about p, .contact p{
        font-size: 14px;
    }


    .logo-name,.salonx-desc{
        padding-left: 0;
    }

    .links,.about,.contact{
        flex: 1;
        min-width: 110px;
        margin: 36px 6px;
    }
}

@media (max-width: 668px){

    footer{
        height: 304px;
        padding: 10px;
    }

    .left-footer-container{
        margin-left: 15px;
    }

    .links h4, .about h4, .contact h4{
        font-size: 14px;
        font-weight: 200;
        margin-bottom: 10px;
    }


    .logo-name{
        margin: 15px 0;
    }

    .salonx-desc p{
        font-size: 11px;
    }


    .links, .about, .contact {
        margin: 23px 5px;
    }

   

    .links p, .about p, .contact p{
        font-size: 12px;
    }

    .copyright-container p{
        font-size: 12px;
    }
}


@media (max-width: 560px){

    footer{
        height: 400px;
        padding: 0;
    }

    .footer-content-container{
        flex-direction: column
    }

    .left-footer-container{

        flex-direction: row;
        width: 100%;
        padding: 10px;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }

    .right-footer-container{
        width: 100%;
    }

    .logo-name{
        flex-direction: column;
    }

    .logo-name img{
        width: 30px;
        height: 20px;
    }

    .logo-name p{
        margin-top: 5px;
        font-size: 14px;
    }

    .links h4, .about h4, .contact h4{
        font-size: 12px;
        font-weight: 200;
        margin-bottom: 8px;
    }


    .logo-name{
        margin: 15px 0;
        width: 50%;
    }


    .salonx-desc{
        padding: 10px;
        width: 70%;
    }

    .salonx-desc p{
        font-size: 8px;
    }


    .links, .about, .contact {
        margin: 25px 4px;
    }

   

    .links p, .about p, .contact p{
        font-size: 10px;
    }

    hr{
        width: 95%;
    }

    .copyright-container p{
        font-size: 8px;
    }


}

